<img src="http://ghchart.rshah.org/tuhin47" alt="2016rshah's Github chart" />
<br>
<img src="http://ghchart.rshah.org/409ba5/tuhin47" alt="tuhin47's Blue Github Chart" />

<br>
<br>
<br>


Include the library.
<script src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js"></script>

<!-- Optionally, include the theme (if you don't want to struggle to write the CSS) -->
<link rel="stylesheet" href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css" />

<!-- Prepare a container for your calendar. -->
<div class="col-md-6">
  <div class="calendar">
    <!-- Loading stuff -->
    Loading the data just for you.
  </div>
</div>

<script>
  GitHubCalendar(".calendar", "tuhin47");
  // or enable responsive functionality
  GitHubCalendar(".calendar", "tuhin47", { responsive: true });
</script>