mynodeapp/node_modules/
html/animate to previous/
*.pyc
django/db.sqlite3
html/append textbox dynamacally/
html/matching-master/
moment-datepicker-master/
html/testing/index.html
html/export file/export file.html
html/testing/pageNumber.html
canvas
.vscode/
